<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>

    <packageSources>
        <add key="JarvisArtifacts" value="https://pkgs.dev.azure.com/Xeinaemm/Jarvis/_packaging/Jarvis-public/nuget/v3/index.json" protocolVersion="3" />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Roslyn" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
    </packageSources>

    <bindingRedirects>
        <add key="skip" value="False" />
    </bindingRedirects>

    <packageManagement>
        <add key="format" value="1" />
        <add key="disabled" value="False" />
    </packageManagement>
</configuration>