<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Xeinaemm ruleset" Description="These rules focus on the most critical problems in your code" ToolsVersion="16.0">
  <Include Path="allrules.ruleset" Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
  </Rules>
</RuleSet>